<div class='about'>
<h2>About this app</h2>

<p>This application aims to provide you with information about the global cryptocurrency market cap.</p>
<p>There are now more than 3000 cryptocurrencies in existence, with each falling into one of the three major categories: altcoins, tokens, and Bitcoin.</p>
<p>Bitcoin (BTC) was the first cryptocurrency to be created and remains the world’s leading cryptocurrency by market cap. Bitcoin is a global peer-to-peer electronic payment system that allows parties to transact directly with each other without the need for an intermediary such as a bank.</p>
<p>The release of Bitcoin and its open-source code in 2008 paved the way for thousands of other cryptocurrencies to be created. These new coins have been dubbed ‘alternative coins’ or ‘altcoins’ as they are alternatives to Bitcoin.
While some do serve a similar purpose to Bitcoin, other cryptocurrency types  such as altcoins actually encompass a wide range of different uses. For example, Ethereum (ETH), the world’s first programmable blockchain, enables developers to build and deploy decentralised applications (DApps) and smart contracts. </p>
</div>