mat-dialog-container.mat-dialog-container {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(135, 116, 255, 0.3))!important;
}
mat-dialog-content {
    h4 {
        text-align: center;
    }
    span {
        color: #6e5fd1;
        font-weight: bold;
    }
}