<!-- <h2 mat-dialog-title>About</h2> -->

<mat-dialog-content>
  <div *ngIf="coinInfo$ | async as coinInfo; else loading">
    <h4>More about <span>{{coinInfo.name}}</span></h4>
    <p>The symbol for this coin is <span>{{ coinInfo.symbol }}</span></p>
    <p>Coin ID: <span>{{ coinInfo.id }}</span></p>
    <p>Platforms: <span>{{ getPlatformList(coinInfo.platforms) }}</span></p>

  </div>
 
  <ng-template #loading>
    <mat-progress-spinner  mode="indeterminate">
    </mat-progress-spinner>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>