.library {
  padding: 20px;
}

table {
    width: 100%;
  }

img {
  width: 30px;
  height: 30px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-column-name {
  cursor: pointer;
}

th {
  width: 20%;
}

.mat-column-id, .mat-column-symbol {
  width: 10%;
}

.mat-column-name,
.mat-column-image,
.mat-column-price_change_1h,
.mat-column-price_change_24h {
  width: 15%;
}

.mat-column-market_cap {
  width: 55%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 250px;
}

.mat-input-width {
  width: 100%;
}

.table-actions {
  mat-form-field {
    width: 20%;
  }

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
}

a.refresh-table {
  text-align: center;
  font-size: 50px;
  cursor: pointer;
}


.green {
  color: #3cb371;
}
.red {
  color: #ff0000
  ;
}
